<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@meanbee.com so we can send you a copy immediately.
 *
 * @category   Meanbee
 * @package    Meanbee_Royalmail
 * @copyright  Copyright (c) 2008 Meanbee Internet Solutions (http://www.meanbee.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version    $Id: config.xml 158 2010-03-28 19:10:46Z nrj $
 */
 -->
<config>
    <modules>
        <Meanbee_Royalmail>
            <version>2.5.3</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Meanbee_Royalmail>
    </modules>

    <global>
        <models>
            <royalmail>
                <class>Meanbee_Royalmail_Model</class>
            </royalmail>
        </models>
        <helpers>
            <royalmail>
                <class>Meanbee_Royalmail_Helper</class>
            </royalmail>
        </helpers>

        <resources>
            <royalmail_setup>
                <setup>
                    <module>Meanbee_Royalmail</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </royalmail_setup>

            <royalmail_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </royalmail_read>
        </resources>
        
        <sales>
            <shipping>
                <carriers>
                    <royalmail>
                        <class>Meanbee_Royalmail_Model_Shipping_Carrier_Royalmail</class>
                    </royalmail>
                </carriers>
            </shipping>
        </sales>
    </global>

    <default>
        <carriers>
            <royalmail>
                <active>0</active>
                <model>royalmail/shipping_carrier_royalmail</model>
                <allowed_methods></allowed_methods>
                <weight_unit>g</weight_unit>
                <rounding_rule>none</rounding_rule>
                <google_checkout_compatible>0</google_checkout_compatible>
                <name>Royal Mail</name>
                <title>Royal Mail</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>1</sallowspecific>
                <specificcountry>GB</specificcountry>
                <showmethod>0</showmethod>
                <sort_order>0</sort_order>
                <parcel_type>small</parcel_type>
            </royalmail>
        </carriers>
    </default>

    <phpunit>
        <suite>
            <modules>
                <Meanbee_Royalmail />
            </modules>
        </suite>
    </phpunit>
</config>
