<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@meanbee.com so we can send you a copy immediately.
 *
 * @category   Meanbee
 * @package    Meanbee_Royalmail
 * @copyright  Copyright (c) 2008 Meanbee Internet Solutions (http://www.meanbee.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <sections>
        <carriers>
            <groups>
                <royalmail translate="label" module="royalmail">
                    <label>Royal Mail Shipping Methods (Developed by Meanbee)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                                <p><strong>Looking for more flexibility with your shipping methods?</strong></p>
                                Introducing the <a href="http://www.meanbee.com/magento-extensions/meanbee-shipping-rules.html">Meanbee Shipping Rules</a> Magento Extension. Set your shipping prices just like you create your promo codes! 30 day money back guarantee - <a href="http://www.meanbee.com/magento-extensions/meanbee-shipping-rules.html">Download it today.</a>
                            </div>
                        ]]>
                    </comment>

                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>

                        <weight_unit translate="label">
                            <label>Unit of Weight</label>
                            <frontend_type>select</frontend_type>
                            <source_model>royalmail/weightunit</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the unit that your store uses to designate the weight of each item.  We'll use this to work out which shipping methods are applicable to the customer, based on their total cart weight.</comment>
                        </weight_unit>

                        <rounding_rule translate="label">
                            <label>Rounding Rule</label>
                            <frontend_type>select</frontend_type>
                            <source_model>royalmail/roundingrule</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the rule that you would like to apply to the price calculate by the module before displaying it to the customer</comment>
                        </rounding_rule>

                        <parcel_size translate="label">
                            <label>First / Second Class Parcel Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>royalmail/parcelsize</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the parcel size you'd like to use for calculating the price of First and Second class parcels.  If you select "Small", then the "Small Parcel" price will be used up until 2kg.  After 2kg the medium parcel price will always be used.</comment>
                        </parcel_size>

                        <allowed_methods translate="label">
                            <label>Allowed methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>royalmail/shipping_carrier_royalmail_source_method</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the shipping options that you would like to appear to the customer as an option.  Any options that are not selected will not be presented to the customer.</comment>
                        </allowed_methods>

                        <handling_fee translate="label">
                            <label>Handling Fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If you specify a handling fee (in the base currency) then it will added to the calculated cost of postage</comment>
                        </handling_fee>
                        
                        <handling_type>
                            <label>Handling Fee Type</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>41</sort_order>
                            <source_model>shipping/source_handlingType</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </handling_type>
                        
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>

                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>80</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        
                        <showmethod translate="label">
                            <label>Show method if not applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showmethod>
                        
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </royalmail>
            </groups>
        </carriers>
    </sections>
</config>
